<!DOCTYPE html>
<html>
<head>
	<title>Object Detection Server</title>
	<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<div class = 'container'>
	<div class="jumbotron">
		<h1>Object Detection Server</h1>
	  	<p>Please upload a video or image file, the server will run the object detection algorithm on it and return the results!</p>
	  	<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
	  	<div class="row">
	      	<div class="col-xs-12">
		        <div class="panel panel-default">
		          	<div class="panel-body">
			            <!-- <span class="glyphicon glyphicon-cloud-upload"></span> -->
			            <h2>File Uploader</h2>
			            <div class="progress">
			              <div class="progress-bar" role="progressbar"></div>
			            </div>
			            <button class="btn btn-lg upload-btn" type="button">Upload File</button>
		          	</div>
		        </div>
	      	</div>
      	</div>
	</div>
</div>

<input id="upload-input" type="file" name="uploads[]"></br>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/index.js"></script>

</body>
</html>